extends subpage-template
block document-title
  title LOCUS Contact
block body-class
  body.contact
block nav
  nav
    #logo: a(href="index.html") Locus Tax Credits
    ul.nav
      li.category
        a(href="about-us.html") Locus
        ul.subnav
          li: a(href="about-us.html") About Us
          li: a(href="values.html") Values
      li.category: a(href="rd-tax-credit.html") Services
        ul.subnav.services
          li: a(href="rd-tax-credit.html") R&amp;D Tax Credit
          li: a(href="enterprise-zone.html") Enterprise Zone
          li: a(href="other-tax-incentives.html") Other Tax Incentives
      li.active.category: a(href="contact.html") Contact
    #navicon
    ul#mobile-nav
      li.category: a(href="about-us.html") Locus
      li: a(href="about-us.html") About Us
      li: a(href="values.html") Values
      li.category: a(href="rd-tax-credit.html") Services
      li: a(href="rd-tax-credit.html") R&amp;D Tax Credit
      li: a(href="enterprise-zone.html") Enterprise Zone
      li: a(href="other-tax-incentives.html") Other Tax Incentives
      li.category: a(href="contact.html") Contact
block content
  h1 Contact
  .content
    #side-nav
      .location
        h2 Irvine
        p 10 Corporate Park, Ste. 210, Irvine CA 92606
        p Phone. <a href="tel:9495531110">949.553.1110</a>
        p Fax. 213.973.4720
        p Email. <a href="mailto:info@locustaxcredits.com">info@locustaxcredits.com</a>
        p <a href="#" target="_blank">view map</a>
      .location
        h2 Los Angeles
        p 4801 Wilshire Blvd. Ste. 306. Los Angeles, CA 90010
        p Phone. <a href="tel:2132939110">213.293.9110</a>
        p Fax. 213.973.4720
        p Email. <a href="mailto:info@locustaxcredits.com">info@locustaxcredits.com</a>
        p <a href="#" target="_blank">view map</a>
      .location
        h2 Northeast Regional Office
        p 1830 Easton Ave. Somerset, NJ 08873
        p Email. <a href="mailto:info@locustaxcredits.com">info@locustaxcredits.com</a>
        p <a href="#" target="_blank">view map</a>
    .body
      p We will answer all of your questions, as they impact both your tax and financial situations.  We welcome you to contact us anytime.
      form( method="post",action="contact-form.php",data-validate="parsley")
        p *Please fill in all the fields
        .row
          .input-wrap
            input(type="text",name="first_name", placeholder="First Name",data-required)
          .input-wrap
            input(type="text",name="last_name",placeholder="Last Name",data-required)
        .row
          .input-wrap
            input(type="text",name="email",placeholder="Email",data-required,data-type="email")
          .input-wrap
            input(type="text",name="phone",placeholder="Phone Number",data-required,data-type="phone")
        .row
          .input-wrap
            input(type="text",name="company",placeholder="Company Name",data-required)
          .input-wrap
            input(type="text",name="address",placeholder="Street Address",data-required)
        .row
          .input-wrap
            input(type="text",name="city",placeholder="City",data-required)
          .input-wrap
            input(type="text",name="state",placeholder="State/Provence",data-required)
        .row
          .input-wrap
            input(type="text",name="zip",placeholder="Zip/postal code",data-required)
          .input-wrap
            input(type="text",name="country",placeholder="Country/Region", data-required)
        .row
          .input-wrap
            select(name="reason",data-required)
              option(value="No reason") Reason for contacting us
              option(value="Research and development") Research and development
              option(value="Enterprise Zone, Work Opportunity Tax Credit") Enterprise Zone, Work Opportunity Tax Credit
              option(value="Low Income Housing Tax Credit") Low Income Housing Tax Credit
              option(value="Renewable Energy Tax Credit") Renewable Energy Tax Credit
              option(value="Other inquiries ") Other inquiries
        .row
          textarea(name="comments",data-required,data-maxlength='500',placeholder="Comments/Questions (Maximum 500 Characters)")
        .row
          input(type="submit")#submit Submit
          input(type="reset")#cancel Cancel
block script
  script(src="js/custom-select.js")
  script(src="js/parsley.js")
  script
    $(function(){
      //$('select').minimalect();
      $('form').parsley({
        successClass: 'success',
        errorClass: 'error'
      });
    });