!!! html
html
  head
    link(rel="stylesheet",href="css/styles.css")
  body
    h1 Codekit Simple Website Framework
    p A simple starter to get websites up and running <em>fast</em>
    p Expect this document to grow and evolve as new libraries and technologies are forged.
    include includes/nav

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="js/scripts.js")