extends subpage-template
block document-title
  title LOCUS Contact
block body-class
  body.contact
block nav
  nav
    #logo: a(href="index.html") Locus Tax Credits
    ul.nav
      li.category
        a(href="about-us.html") Locus
        ul.subnav
          li: a(href="about-us.html") About Us
          li: a(href="values.html") Values
      li.category: a(href="rd-tax-credit.html") Services
        ul.subnav.services
          li: a(href="rd-tax-credit.html") R&amp;D Tax Credit
          li: a(href="enterprise-zone.html") Enterprise Zone
          li: a(href="other-tax-incentives.html") Other Tax Incentives
      li.active.category: a(href="contact.html") Contact
    #navicon
    ul#mobile-nav
      li.category: a(href="about-us.html") Locus
      li: a(href="about-us.html") About Us
      li: a(href="values.html") Values
      li.category: a(href="rd-tax-credit.html") Services
      li: a(href="rd-tax-credit.html") R&amp;D Tax Credit
      li: a(href="enterprise-zone.html") Enterprise Zone
      li: a(href="other-tax-incentives.html") Other Tax Incentives
      li.category: a(href="contact.html") Contact
block content
  h1 We look forward to speaking and discussing with you about possible opportunities for us.
  .content
    #side-nav
      .location
        h2 Irvine
        p 10 Corporate Park, Ste. 210, Irvine CA 92606
        p Phone. <a href="tel:9495531110">949.553.1110</a>
        p Fax. 213.973.4720
        p Email. <a href="mailto:info@locustaxcredits.com">info@locustaxcredits.com</a>
        p <a href="#" target="_blank">view map</a>
      .location
        h2 Los Angeles
        p 4801 Wilshire Blvd. Ste. 306. Los Angeles, CA 90010
        p Phone. <a href="tel:2132939110">213.293.9110</a>
        p Fax. 213.973.4720
        p Email. <a href="mailto:info@locustaxcredits.com">info@locustaxcredits.com</a>
        p <a href="#" target="_blank">view map</a>
      .location
        h2 Northeast Regional Office
        p 1830 Easton Ave. Somerset, NJ 08873
        p Email. <a href="mailto:info@locustaxcredits.com">info@locustaxcredits.com</a>
        p <a href="#" target="_blank">view map</a>
    .body
      p Thank you for your interest. You will be hearing from us shortly.
