extends subpage-template
block document-title
  title LOCUS About Us
block body
  body.locus   
    nav
      #logo: a(href="index.html") Locus Tax Credits
      ul.nav
        li.active.category
          a(href="about-us.html") Locus
          ul.subnav
            li.active: a(href="about-us.html") About Us
            li: a(href="values.html") Values
        li.category: a(href="rd-tax-credit.html") Services
          ul.subnav.services
            li: a(href="rd-tax-credit.html") R&amp;D Tax Credit
            li: a(href="enterprise-zone.html") Enterprise Zone
            li: a(href="other-tax-incentives.html") Other Tax Incentives
        li.category: a(href="contact.html") Contact
      #navicon
      ul#mobile-nav
        li.category: a(href="about-us.html") Locus
        li.active: a(href="about-us.html") About Us
        li: a(href="values.html") Values
        li.category: a(href="rd-tax-credit.html") Services
        li: a(href="rd-tax-credit.html") R&amp;D Tax Credit
        li: a(href="enterprise-zone.html") Enterprise Zone
        li: a(href="other-tax-incentives.html") Other Tax Incentives
        li.category: a(href="contact.html") Contact

    h1 About Us
    .content
      #side-nav
        a.side-nav-link.active(href="#") About Us
        a.side-nav-link(href="values.html") Values
      .body
        p  Locus Tax Credits is a professional tax credit services firm committed to serving the needs of our clients.
          | Our team of dedicated CPA and tax credit experts has an intricate insight of your business' potential extra revenue.
        p Locus Tax Credits focuses solely on tax credit recovery and is rapidly growing to be
          | recognized as an industry leader for tax credit processing and consulting. Our focus on capturing
          | the maximum credits for our clients has never wavered.
        p Our expertise, years of experience and resources in many different tax incentive
          | programs allow us to identify, secure and administer relevant government incentives
          | for our clients of different industries or backgrounds. Our clients have experienced their
          | significantly improved financial performances and reduced effective tax rates. We are
          | certain and confident that our service will bring true value to the bottom line of your
          |business also.
        h2 Big 4 Quality Service with Affordable Professional Cost
        p A professional firm is known for the quality of its service. We are professionals seriously trained as core members
         | of the management team in U.S. Big 4 Firms for over 20 years. We make certain that the quality of our service is at
         | Big 4 standard, but at a fee structure comparable to that of a non-Big 4 practices.

    include includes/footer