extends subpage-template
block document-title
  title LOCUS About Us
block body
  body.locus
    nav
      #logo: a(href="index.html") Locus Tax Credits
      ul.nav
        li.active.category
          a(href="about-us.html") Locus
          ul.subnav
            li.active: a(href="about-us.html") About Us
            li: a(href="values.html") Values
        li.category: a(href="rd-tax-credit.html") Services
          ul.subnav.services
            li: a(href="rd-tax-credit.html") R&amp;D Tax Credit
            li: a(href="enterprise-zone.html") Enterprise Zone
            li: a(href="other-tax-incentives.html") Other Tax Incentives
        li.category: a(href="contact.html") Contact
      #navicon
      ul#mobile-nav
        li.category: a(href="about-us.html") Locus
        li.active: a(href="about-us.html") About Us
        li: a(href="values.html") Values
        li.category: a(href="rd-tax-credit.html") Services
        li: a(href="rd-tax-credit.html") R&amp;D Tax Credit
        li: a(href="enterprise-zone.html") Enterprise Zone
        li: a(href="other-tax-incentives.html") Other Tax Incentives
        li.category: a(href="contact.html") Contact

    h1 About Us
    .content
      #side-nav
        a.side-nav-link.active(href="#") About Us
        a.side-nav-link(href="values.html") Values
      .body
        p Our team of dedicated CPA and tax credit experts has an intricate insight of the possibilities of your business' potential extra revenue.
          | We are dedicated to customer profitability and our success has been measured by a commitment to be solely focused on the business of tax credits and government incentives.
        p Locus Tax Credits LLC focuses solely on tax credit recovery and is rapidly growing to be recognized as an industry leader for tax credit processing and consulting. We do not offer any other products or services outside of tax credit recovery and our focus on capturing the maximum credits for our clients has never wavered.
        p We will identifies, secures and administers valuable government incentives for our clients, thereby improving their financial performance and reducing their effective tax rate, bringing true value to the bottom line.
        p We have solidified our efforts in becoming the leader in tax credit recovery. We are excited about what the future holds for our company and the future of our clients.
      
    include includes/footer