!!!5
html
  include includes/head
  body.home
    .body-wrap
      include includes/nav
    #slideshow
      .cycle-slideshow(data-cycle-pause-on-hover='true', data-cycle-caption="#caption", data-cycle-caption-template="<h1>{{title}}</h1><h2>{{desc}}</h2>")
        img(src="img/hero-1.jpg", data-title="Research and Development Tax Credits", data-desc="Find out how much you are really entitled to and how much you are missing out on R&D tax credit.")
        img(src="img/hero-2.jpg", data-title="Enterprise Zone",data-desc="Now is the perfect time for you to call us for Enterprise Zone program as it will be discontinued soon.")
        img(src="img/hero-3.jpg", data-title="Other Tax Incentives",data-desc="Need help with claiming other tax credits? Let us know and find out what we can do for you.")
        img(src="img/hero-4.jpg", data-title="Contact Us",data-desc="Don't settle for any less than what you can get; we will bring you the most value possible." )
        .cycle-pager
      #caption

    .body-wrap
      .content
        h1 Big 4 quality service at an affordable professional cost
        #hometab
          ul#hometab-nav
            li.active(data-tab='feasibility') Free Feasibility Test
            li(data-tab='paperwork') On-site Project / Paperwork
            li(data-tab='post-project') Post-project / Audit
          #hometab-content
            .tab-content.active(data-tab='feasibility')
              p We will answer questions you have about tax credit incentives, and run a feasibility test at no cost to see if your
                | business qualifies for them, and how much benefits can be expected. Even if you are uncertain, do not hesitate to
                <a href="contact.html"> contact us</a>.
            .tab-content(data-tab='paperwork')
              p Upon completion of feasibility test, if you decide to engage us for the project, we will start gathering detail
                | information, interviewing appropriate personnel, and computing numbers and figures to arrive at the maximized
                | amount of tax credit for you.
            .tab-content(data-tab='post-project')
              p Our service is not over until your tax credits are secured. We will assist you with any necessary tasks to do so,
                | especially if your tax credit claims are subject to an audit by IRS.
          #contact-content
            h2 Contact us
            p We will be happy to speak with you about our services and how we can work together.
              <a href="contact.html"> Contact us</a>
              | via email, call, or visit our office.

        h1 Services we provide
        #homepage-services
          .service
            h2 R&amp;D Tax Credit
            p Research and development tax credit rewards businesses with technological nature at both federal and state level regardless of their success or failure.
            a.btn-read-more(href="rd-tax-credit.html") Read More
          .service
            h2 Enterprise Zone
            p 2013 will be the last year for businesses to qualify for simple, yet significant tax savings under the Enterprise Zone program.
            a.btn-read-more(href="enterprise-zone.html") Read More
          .service
            h2 Other Tax Incentives
            p Our tax credit specialist team has worked with many other incentives for years; we can help you identify and capture potential extra revenues.
            a.btn-read-more(href="other-tax-incentives.html") Read More

    include includes/footer
    block script
      script(src='js/cycle.js')
      script.
        $(function(){
          $('#hometab-nav').on('click','li', function(){
              thisTab = $(this);
              tabName = thisTab.data('tab');
              tabContent = $('#hometab-content').find('.tab-content[data-tab='+tabName+']')
              thisTab.siblings().removeClass('active');
              thisTab.addClass('active');
              tabContent.siblings().removeClass('active');
              tabContent.addClass('active');
            })
        });