extends subpage-template
block document-title
  title LOCUS R&amp;D Tax Credit
block body
  body.services
    .body-wrap
      nav
        #logo: a(href="index.html") Locus Tax Credits
        ul.nav
          li.category
            a(href="about-us.html") Locus
            ul.subnav
              li: a(href="about-us.html") About Us
              li: a(href="values.html") Values
          li.active.category
            a(href="rd-tax-credit.html") Services
            ul.subnav.services
              li.active: a(href="rd-tax-credit.html") R&amp;D Tax Credit
              li: a(href="enterprise-zone.html") Enterprise Zone
              li: a(href="other-tax-incentives.html") Other Tax Incentives
          li.category: a(href="contact.html") Contact
        #navicon
        ul#mobile-nav
          li.category: a(href="about-us.html") Locus
          li: a(href="about-us.html") About Us
          li: a(href="values.html") Values
          li.category: a(href="rd-tax-credit.html") Services
          li.active: a(href="rd-tax-credit.html") R&amp;D Tax Credit
          li: a(href="enterprise-zone.html") Enterprise Zone
          li: a(href="other-tax-incentives.html") Other Tax Incentives
          li.category: a(href="contact.html") Contact

    h1 R&amp;D Tax Credit
    .body-wrap
      .content
        #side-nav
          a.side-nav-link.active(href="#") R&amp;D Tax Credit
          a.side-nav-link(href="enterprise-zone.html") Enterprise Zone
          a.side-nav-link(href="other-tax-incentives.html") Other Tax Incentives
        .body
          p The R&amp;D Tax Credit is a federal tax incentive (also available in many states) designed to
            | promote innovation. It allows companies to receive tax credits for expenses incurred for
            | research and development, thereby lowering their tax obligation and increasing funds for future innovation.
          p The R&amp;D Tax Credit is often overlooked and misunderstood that most taxpayers and many tax preparers associate only with technology, biotechnology and pharmaceutical
            | companies. Qualified activities do not necessarily need to result in new technological
            | knowledge; they only need to involve the use of technological principles to develop new
            | or improved products, processes, software, etc.
          h2.list Examples of qualifying activities:
          ul.list
            li Developing or testing new products or materials
            li Developing new or enhanced formulations
            li Testing new concepts
            li Improving existing products
            li Trial and error experimentation
            li Design and analysis of prototypes or models
            li Developing or improving production or manufacturing processes
            li Developing, implementing or upgrading systems/software
            li Paying outside consultants/contractors to perform any of these activities
            li And more...
          h2 Benefits of research and development tax credit
          p(style="margin-bottom:0") The R&amp;D Tax Credit is one of the most significant tax incentives available to taxpayers. The benefits of this credit are numerous:
          ul.list-bullet
            li The credit is generally equal to 13% of qualified costs and is a dollar for dollar match on both federal and state taxes owed.
            li Businesses can claim R&amp;D Tax Credits for all open tax years. For companies that are in a net operating loss (NOL) position, R&amp;D Tax Credits are potentially available for additional years.
            li Federal R&amp;D Tax Credits can be carried forward for 20 years. Certain state credits have no expiration and can be carried forward indefinitely.
            li Companies that claim the R&amp;D Tax Credit see immediate earnings-per-share (EPS) and overall effective tax rate benefits.
          h2.tag Contact us now
          p Claiming R&amp;D tax credits is not without risk; often times it is subject to an IRS audit. It is critical that companies
            | choose a R&amp;D tax credit service provider with a proven process for calculating and documenting claims &mdash; and a proven track record of sustaining those
            | claims upon audit.
          p A free preliminary analysis can give you an idea of how the R&amp;D tax credit can benefit your company.
            |<a href="contact.html">Contact us today</a>
            |for an estimated benefit and fee quote.


    include includes/footer