extends subpage-template
block document-title
  title LOCUS Values
block body
  body.locus
    .body-wrap
      nav
        #logo: a(href="index.html") Locus Tax Credits
        ul.nav
          li.active.category
            a(href="about-us.html") Locus
            ul.subnav
              li: a(href="about-us.html") About Us
              li.active: a(href="values.html") Values
          li.category: a(href="rd-tax-credit.html") Services
            ul.subnav.services
              li: a(href="rd-tax-credit.html") R&amp;D Tax Credit
              li: a(href="enterprise-zone.html") Enterprise Zone
              li: a(href="other-tax-incentives.html") Other Tax Incentives
          li.category: a(href="contact.html") Contact
        #navicon
        ul#mobile-nav
          li.category: a(href="about-us.html") Locus
          li: a(href="about-us.html") About Us
          li: a.active(href="values.html") Values
          li.category: a(href="rd-tax-credit.html") Services
          li: a(href="rd-tax-credit.html") R&amp;D Tax Credit
          li: a(href="enterprise-zone.html") Enterprise Zone
          li: a(href="other-tax-incentives.html") Other Tax Incentives
          li.category: a(href="contact.html") Contact

    h1 Values
    .body-wrap
      .content
        #side-nav
          a.side-nav-link(href="about-us.html") About Us
          a.side-nav-link.active(href="#") Values
        .body
          h2 Value
          p Our main purpose is to bring value to our clients, and we do so by providing quality
            | service, building long-term relationships, and ensuring a high standard of professional
            | ethics. Through detailed work, high-quality studies, and timely completion of projects,
            | we will create significant tax savings for you.
          h2 Professionalism
          p(style="margin-bottom:15px") The members of Locus Tax Credits put their personal and professional reputations
            | on the excellence of their work. Our high standards, services and specialized teams
            | separate our outstanding performance from those of other firms.
          p We combine our expertise, experience and energy to bring our personal and professional attention
            | to each client; we make sure that every client is served by the expertise of our whole firm.
          h2 Quality
          p(style="margin-bottom:15px") A professional firm is known for the quality of its service. Locus Tax Credits' reputation reflects the high standards we demand of ourselves.
          p We recognize that it is extremely important to continuously and professionally educate
            | ourselves to improve our technical expertise, financial knowledge and services to our
            | clients. We always have been, and always will be striving to enhance ourselves with the
            | latest knowledge and expertise in order to deliver the best quality service we can offer.
    include includes/footer