.btn-read-more
  width       100px
  height      44px
  background  url(../img/btn-read-more.png)
  display     block
  text-indent -9999px
  margin      0 auto
  &:hover
    background-position 100% 0

.pdf-link
  position     relative
  padding-left 28px
  color        $blue
  &:hover
    text-decoration underline
  &:before
    background url(../img/pdf-icon.png)
    width      21px
    height     25px
    position absolute
    content ''
    left 0