footer
  border-top solid 5px $blue
  background $blue-dark
  clearfix()
#footer-contact
  padding 20px 0 33px
  color   white
  max-width   1040px
  margin  0 auto
  clearfix()
  .location
    float left
    width 33%
    text-align center
    h2
      font-size     17.75px
      margin-bottom 10px
    p
      font-size 13px
    a
      color white
      &:hover
        text-decoration underline
#footer-copyright
  background #005e9c
  padding    18px 0
  font-size  13px
  color      white
  .wrap
    max-width 1040px
    margin    0 auto
    clearfix()
.jc
  width       135px
  height      32px
  background  url(../img/jc-logo.png) no-repeat 0 3px
  text-indent -9999px
  margin-left 12px
  display     inline-block