footer
  border-top solid 5px $blue
  background $blue-dark
  clearfix()
#footer-contact
  padding 20px 40px 33px
  color   white
  width   960px
  margin  0 auto
  @media only screen and (max-width : 768px)
    padding 20px 20px 33px
    width 100%
  clearfix()
  .location
    float      left
    width      320px
    text-align center
    @media only screen and (max-width : 1024px)
      width 33.333333%
    @media only screen and (max-width: 480px)
      width         100%
      clear         both
      margin-bottom 20px
    h2
      font-size     16px
      margin-bottom 10px
      color         white
      @media only screen and (max-width : 480px)
        position absolute
      @media only screen and (max-width : 320px)
        position   relative
        text-align left
    p
      font-size 13px
      @media only screen and (max-width : 480px)
        margin-left 210px
        text-align  left
      @media only screen and (max-width : 320px)
        margin-left 0
    a
      color white
      &:hover
        text-decoration underline
#footer-copyright
  background #005e9c
  padding    18px 0 13px
  font-size  13px
  color      white
  @media screen and (max-width:768px)
    padding-left 20px
    padding-right 20px
  .wrap
    width 960px
    margin    0 auto
    clearfix()
    @media screen and (max-width:768px)
      width 100%
      .left
      .right
        float none
        text-align center
      .left
        margin-bottom 10px
.jc
  width       135px
  height      32px
  background  url(../img/jc-logo.png) no-repeat 0 3px
  text-indent -9999px
  margin-left 12px
  display     inline-block