body.locus
  h1
    background  url(../img/bg-locus.jpg) no-repeat center 0
    height      261px
    text-indent -9999px
  h2
    color          $blue
    font-size      18px
    font-weight    500
    text-transform uppercase
    margin-bottom  18px

  .content
    h2.tag
      color         white
      background    $blue
      display       inline-block
      padding       0 9px 0 8px
      border-radius 3px
      font-size     14px
      line-height   25px
      margin-bottom 20px
      up()