// Desktops and laptops
@media only screen and (max-width : 978px)
  #logo
    background  url(../img/locus-small.png) no-repeat
    width       174px
    height      42px
    margin-left 20px
  .nav
    margin-left 15px
  .content
    max-width     100%
  .body
    margin-left 260px
    padding-right 30px
  #side-nav
    right 75%
  body.contact
    #side-nav
      right 75%
      .location
        width 160px
  .input-wrap
    width 49%

@media only screen and (max-width : 878px)
  .nav
    .category
      margin-right 25px
  form
    padding 0


// iPads (portrait)
@media screen and (max-width:768px)
  .nav
    margin-left 78px
    margin-top  30px
    clear       both
  .body
    margin-left 30%
  #tab-nav
    margin-left 0 !important
    width 100%
  #tab-nav li
    float       none
    max-width   100%
    line-height 40px
    &.long
      max-width 100%
  .tab-content
    padding 0
  #footer-contact
    max-width 680px
    .location
      width 30%
  body.locus
    h1
      background-position center -261px
      height              203px
  body.services
    h1
      background-position center -265px 
      height              203px
  body.contact
    h1
      background-position center -263px 
      height              203px

@media screen and (max-width:480px)
  .nav
    .category
      clear         both
      margin-bottom 20px
  .category>a
    width 100px
  #footer-contact
    max-width 100%
    .location
      clear         both
      float         none
      width         100%
      margin-bottom 20px
      h2
        margin-bottom 10px
  #side-nav
    position   relative
    right      auto
    left       30px
    text-align left
    .side-nav-link
      &.active:after
        right auto
  .body
    padding-left 30px
    margin-left  0
  .content
    padding-top 40px
  body.contact
    #side-nav
      right         auto
      padding-right 60px
      .location
        width 100%
  .service
    h2
      margin-bottom  10px
    p
      margin-bottom 10px
  body.locus
    h1
      background-position center -464px
      height              162px
  body.services
    h1
      background-position center -468px
      height              162px
  body.contact
    h1
      background-position center -466px
      height              162px
@media screen and (max-width:320px)
  body.services
  body.locus
  body.contact
    h1
      background  none
      text-indent 0
      height auto
      padding-left 20px
      padding-top 100px
      font-size 24px
    nav
      h1
        display block
  body.home
    h1
      line-height 44px
  nav
    padding-top 20px
    position    fixed
    background  white
    width       100%
    z-index     3
  .nav
    display none
  #navicon
    display block
  .content
    padding-top 20px
  #side-nav
    display none
  .subnav
    clear both
  #tab-nav li.long
    height auto
  .body
    padding 0 20px
  .input-wrap
    width         100%
    margin-bottom 10px
  form .row
    margin-bottom 0