// iPads (portrait)
@media screen and (max-width:768px)
  body
    line-height 20px
  #logo
    width 174px
    height 42px
    background url(../img/logo-small.png)
    margin-left 10px
  .nav
    width 540px
    margin-bottom 30px
    .category
      margin-right 20px
      &:nth-child(2)
        margin-right 20px
      &:last-child
        float left
  #side-nav
    width 180px
    .side-nav-link
      font-size 18px
  .body
    margin-left 230px
    padding-right 20px
  .content
    padding-bottom 20px

  #tab-nav
    margin-left   0 !important
    width         100%
    margin-bottom 20px
  #tab-nav li
    float       none
    max-width   100%
    line-height 40px
    &.long
      max-width 100%
  .tab-content
    padding 0
  body.home 
    h1 
      font-size 20px
    .nav
      margin-bottom 0
  #slideshow
    margin-bottom 30px
  #hometab-nav li
    padding-left 15px
    height 67px
  #hometab-content
    height 200px
  form 
    padding 0
  .input-wrap 
    width 250px

  body.locus
    h1
      background-position center -261px
      height              203px
  body.services
    h1
      background-position center -265px 
      height              203px
  body.contact
    h1
      background-position center -263px 
      height              203px

@media screen and (max-width:480px)
  body.locus
    h1
      background-position center -464px
      height              162px
  body.services
    h1
      background-position center -468px
      height              162px
  body.contact
    h1
      background-position center -466px
      height              162px
  body.services
  body.locus
  body.contact
    h1 
      margin-top 82px      

  nav
    padding-top 20px
    position    fixed
    background  white
    width       100%
    z-index     30000
  .nav
    display none
  #navicon
    display block   
  #side-nav
    width       100%
    text-align  left
    margin-left 20px
    .location
      width 100%
    .side-nav-link
      display inline-block 
      font-size 16px  
      margin-right 20px
      &.active
        margin-right 30px
      &.active:after 
        background url(../img/ind-down.png) no-repeat
        width      12px
        height     9px 
        top        6px
        right      -14px       
  .body
    clear        both
    margin-left  0
    padding-left 20px
  .input-wrap
    width         100%
    margin-bottom 10px
  form .row
    margin-bottom 0
  #slideshow
    margin-top 82px
  #caption
    max-width 100%
    margin    0 auto
    left      auto
    h1
      font-size 22px
  #hometab-nav
  #hometab-content
  #contact-content
    width 100%
  #hometab-content
    height auto
  #home-tab
    margin-bottom 40px

@media screen and (max-width:320px)
  body.services
  body.locus
  body.contact
    h1
      background   none
      text-indent  0
      height       auto
      padding-left 20px
      padding-top  20px
      font-size    24px
    nav
      h1
        display block
  body.home
    .content
      h1
        display block
        margin-top 102px
        line-height 34px
  .content
    padding-top 20px
  #side-nav
    display none
  .subnav
    clear both
  #tab-nav li.long
    height auto
  .body
    padding 0 20px
  #slideshow
    display none

