nav
  padding 34px 0 20px
  max-width   960px
  margin  0 auto
  position relative
  clearfix()
#logo
  background  url(../img/logo-main.png)
  width       217px
  height      52px
  text-indent -9999px
  float       left
  a
    width   100%
    height  100%
    display block
.nav
  float right
  width 680px
  .category
    float        left
    margin-right 105px
    &:nth-child(2)
      margin-right 50px
    &:last-child
      margin-right 0
      float        right
  .category>a
    font-size    18px
    float        left
    color        black
    font-weight  700
    margin-right 20px
    up()
  .category:last-child >a
    margin 0
  .category.active>a
    color $blue
.subnav
  width     70px
  float     left
  font-size 14px
  li
    border-bottom  dotted 1px black
    &:last-child
      border-bottom none
  li.active
    a
      color             $blue
      background        url(../img/ind-small.png) no-repeat 0 6px
      padding-left      10px
  a
    color black
    &:hover
      color $blue
  &.services
    width 140px

#navicon
  width         32px
  height        29px
  position      absolute
  right         20px
  top           28px
  display       none
  background    url(../img/navicon.png) #0073bd no-repeat center center
  border-radius 2px
  z-index       2
  cursor        pointer
  &.expanded
    background-color #1650ad
#mobile-nav
  position   absolute
  width      100%
  background $blue
  z-index    1
  overflow   hidden
  height     0
  top        81px
  transition height 0.5s 
  a
    color   white
    width   100%
    height  100%
    display block
  li
    clear         both
    border-bottom solid 1px $blue-dark
    background    $blue
    padding       10px
    clearfix()
  li.category
    background black
  li.active
    a
      color black
  &.expanded
    height 360px