footer
  #footer-contact
    .location
      h2 Irvine
      p 10 Corporate Park, Ste. 210
      p Irvine CA 92606
      p: a(href='tel:9495531110') 949.553.1110
      p: a(href='tel:9494854900') 949.485.4900
      p: a(href='mailto:info@locustaxcredits.com') info@locustaxcredits.com
    .location
      h2 Los Angeles
      p 4801 Wilshire Blvd. Ste. 306 
      p Los Angeles, CA 90010
      p: a(href='tel:2132939110') 213.293.9110
      p: a(href='tel:2139734720') 213.973.4720
      p: a(href='mailto:info@locustaxcredits.com') info@locustaxcredits.com
    .location
      h2 Northeast Regional
      p 1830 Easton Ave. 
      p Somerset, NJ 08873
      p: a(href='mailto:info@locustaxcredits.com') info@locustaxcredits.com
  #footer-copyright
    .wrap
      p.left &copy; 2013 Locus Tax Credits LLC. All rights reserved.
      p.right See our partner <a href="http://www.jclawcpa.com/" target="_blank" class="jc">JC&amp;Company</a>


script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
script(src="js/scripts.js")
block script
