nav
  h1#logo: a(href="#") Locus Tax Credits
  ul.nav
    li.category
      a(href="#") Locus
      ul.subnav
        li: a(href="about-us.html") About Us
        li: a(href="values.html") Values
    li.category: a(href="#") Services
      ul.subnav.services
        li: a(href="rd-tax-credit.html") R&amp;D Tax Credit
        li: a(href="#") Enterprise Zone
        li: a(href="#") Other Tax Incentives
    li.category: a(href="#") Contact 
