.btn-read-more
  width       100px
  height      47px
  background  url(../img/btn-read-more.png)
  display     block
  text-indent -9999px
  margin      0 auto
  &:hover
    background-position 100% 0