footer
  border-top solid 5px $blue
  background $blue-dark
#footer-contact
  padding 28px 0
  color   white
  max-width   1040px
  margin  0 auto
  clearfix()
  .location
    float left
    width 33%
    text-align center
    h2
      font-size     17.75px
      margin-bottom 20px
    p
      font-size 13px
    a
      color white  
      &:hover
        text-decoration underline  
#footer-copyright
  background white
  padding    10px 0 
  font-size  13px
  color      black
  text-align center 

 