// Desktops and laptops
@media only screen and (max-width : 978px)
  #logo
    transform scale(.8,.8)
  .nav
    margin-left 15px
  .content
    max-width     100%
  .body
    margin-left 260px    
    padding-right 30px
  #side-nav
    right 75%     
  body.contact
    #side-nav
      right 75%
      .location
        width 160px
  .input-wrap
    width 49% 

@media only screen and (max-width : 878px)
  .category
    margin-right 25px 
  form
    padding 0


// iPads (portrait) 
@media screen and (max-width:768px)
  .nav
    margin-left 78px
    margin-top  30px
    clear       both
  .body
    margin-left 30%
  #tab-nav
    margin-left 0 !important
    width 100%
  #tab-nav li
    float       none
    max-width   100%
    line-height 40px
    &.long
      max-width 100%
  .tab-content
    padding 0
  #footer-contact
    max-width 680px
    .location
      width 30%

@media screen and (max-width:480px)
  .category
    clear         both
    margin-bottom 20px
  .category>a
    width 100px
  #footer-contact
    max-width 100%
    .location
      clear         both
      float         none
      width         100%
      margin-bottom 20px
      h2
        margin-bottom 10px
  #side-nav
    position   relative
    right      auto
    left       30px
    text-align left
    .side-nav-link
      &.active:after
        right auto 
  .body
    padding-left 30px
    margin-left  0
  body.contact
    #side-nav
      right         auto
      padding-right 60px
      .location
        width 100%   
  .service
    width         100%
    box-sizing    border-box 
    display       inline-block
    text-align    center
    margin-bottom 30px
    padding       0 30px
    h2
      margin-bottom  10px
    p
      margin-bottom 10px
  


